@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 20% 12%;
  --foreground: 210 10% 98%;
  --radius: 0.625rem;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

