@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 210 10% 20%;
  --radius: 0.625rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 210 20% 12%;
    --foreground: 210 10% 98%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

